.grid {
  margin: 32px auto;
  display: grid;
  grid-template-columns: repeat(5, 60px);
  gap: 10px;
  justify-content: center;
}

.tile {
  width: 60px;
  height: 60px;
  border-radius: 10px;
  border: 2px solid #ddd;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 24px;
  font-weight: 700;
  text-transform: uppercase;
}

.correct {
  background: #6aaa64;
  color: white;
  border: none;
}

.present {
  background: #c9b458;
  color: white;
  border: none;
}

.absent {
  background: #787c7e;
  color: white;
  border: none;
}

#guessInput {
  padding: 12px;
  font-size: 16px;
  width: 200px;
  text-align: center;
  text-transform: uppercase;
  margin-top: 10px;
}

#submitBtn {
  margin-top: 14px;
}

.back-link {
  display: block;
  margin-top: 30px;
  text-decoration: none;
  color: #ff4d6d;
  font-weight: 600;
}